# collection of Data Structure types:
- List
- Tuple
- Set
- Dictionary

# List:
- one of the data structure in python
- Data structure means to store,sort and search options
- its one common data structure in python,the items of list separated by comma and enclosed by square brackets

example:
- list1=[1,2,3,4]
- list2=["gitam",1,2,3]

In [9]:
li=[1,8,6,9,12]
print(li)
print(li[-3])
print(li[4],li[-5])
print(li[2:])
print(li[2:4])
print(li[-3:-1])

[1, 8, 6, 9, 12]
6
12 1
[6, 9, 12]
[6, 9]
[6, 9]

In [2]:
l=["Gitam",1234,12345,123456]
print(l)
print(l[0][2])

['Gitam', 1234, 12345, 123456]
t

In [3]:
del l[2]
print(l)

['Gitam', 1234, 123456]

In [4]:
# update
l[1]=123
print(l)

['Gitam', 123, 123456]

In [7]:
# basic list functions
li=[1,2,3,4,5,67]
print(max(li))
print(min(li))
print(sum(li))
print(len(li))
print(sum(li)//len(li))

67
1
82
6
13

In [23]:
li2=[1,2,3,4,5]
li2.append(50)
li2.insert(2,4)
print(li2.count(3))
li2.pop()
print(li2)

1
[1, 2, 4, 3, 4, 5]

In [30]:
l3=[345,4325,657,654,234]
l3.sort()
print(l3.index(234))
print(l3)

0
[234, 345, 654, 657, 4325]

### del-delete the list item from the list
#### pop-remove last index value
##### pop(index)-removes the items from specified index

In [39]:
l4=[1,9,116,24,5,6]
l5=[345,453,675]
print(l4)
print(l5)
l4.extend(l5)
l5.reverse()
print(l4)
print(l5)

[1, 9, 116, 24, 5, 6]
[345, 453, 675]
[1, 9, 116, 24, 5, 6, 345, 453, 675]
[675, 453, 345]

In [40]:
# function to return the large number from the list
def largenumber(l6):
    l6.sort()
    return l6[-1]
def genericlarge(l6,n):
    l6.sort()
    return l6[-n]
l6=[19,1,25,45,76]
print(largenumber(l6))
print(genericlarge(l6,2))

76
45

In [43]:
def smallnumber(l6):
    l6.sort()
    return l6[0]
def genericsmall(l6,n):
    l6.sort()
    return l6[n]
l6=[19,1,25,45,76]
print(smallnumber(l6))
print(genericsmall(l6,2))

1
25

## Tuple
- its one common data structure in python,the items of tuple separated by comma and enclosed by parenthesis()
- example:
t=(1,2,3,4)

## list and tuple
- in list are mutable - can be changed/modified
- list is used to modify,add,delete,update
- tuple are immutable-cannot be changed
- tuple is used to access data only

In [44]:
t1=(1,2,3,4)
print(t1)

(1, 2, 3, 4)

# Dictionaries
- it works on concept of set unique data
- dictionary contains keys and values
- each key and value are separated by comma(,)
- each key is separated from its value with colon(:)

In [2]:
d1={"name":"gitam","email":"gitam@in","address":"hyderabad"}
d1['name']='KIRAN'
print(d1)

{'name': 'KIRAN', 'email': 'gitam@in', 'address': 'hyderabad'}

In [3]:
d1["name"]

'KIRAN'

In [4]:
d1['roll_no']='221710311038'
print(d1)

{'name': 'KIRAN', 'email': 'gitam@in', 'address': 'hyderabad', 'roll_no': '221710311038'}

In [5]:
del d1['email']
print(d1)

{'name': 'KIRAN', 'address': 'hyderabad', 'roll_no': '221710311038'}

In [58]:
d1.keys()

dict_keys(['name', 'address', 'roll_no'])

In [53]:
d1.values()

dict_values(['KIRAN', 'hyderabad', '221710311038'])

In [6]:
d1.items()

dict_items([('name', 'KIRAN'), ('address', 'hyderabad'), ('roll_no', '221710311038')])

# Strings:

In [6]:
s1="python"
print(s1)
print(type(s1))

python
<class 'str'>

In [3]:
s1="python"
print(s1[4])
print(s1[len(s1)-2])
print(s1[1:-1])
print(s1[len(s1)//2])
print(s1[::2])

o
o
ytho
h
pto

# String built in methods:
- upper
- lower
- islower
- isupper
- istitle
- isnumeric
- isalpha
- isspace

In [12]:
s2="Kiran"
print(s2.upper())
print(s2.lower())
print(s2.isupper())
print(s2.islower())
print(s2.istitle())
print(s2.isnumeric())
print(s2.isalpha())

KIRAN
kiran
False
False
True
False
True

In [17]:
s1=' '
print(s1.isspace())

True

# String methods:
- join()
- split()
- replace()

In [26]:
s='sai'
s1='kiran'
print(' '.join(s))
print(s1.split())
print(s1.replace('kiran','charan'))

s a i
['kiran']
charan